---
layout: base.liquid
---

<div class="home">

    {% comment %} <canvas id="canvas" width="1024" height="1024">Error, canvas is not supported</canvas>
    <script type="text/javascript">
        function draw() {
            var c = document.getElementById('canvas');
            var ctx = c.getContext("2d");
            ctx.moveTo(0, 0);
            ctx.lineTo(200, 100);
            ctx.stroke();
        }
        draw();
    </script> {% endcomment %}

    <section class="intro">
        <h1 class="herotype"><span class="bold">Oded</span> Falik is a software engineer based in Dallas, focused on the the intersection of the <span class="bold">Web, infosec, & ML</span></h1>
        <br>
        <br>
        {% include links %}
    </section>
    
    <section class="posts">
        {% comment %} <h4>what I do</h4> <br> {% endcomment %}

        <ul>
            {% for post in collections.posts reversed %}
            {% if post.data.hidden != true %}
                <li class="post">
                    <span class="post-title">
                        {% if post.data.externalLink %}
                            <a href="{{ post.data.externalLink }}" target="__blank" class="tdu">{{ post.data.title }}</a>
                        {% else %}
                            <a href="{{ post.url }}" class="tdu">{{ post.data.title }}</a>
                        {% endif %}
                    </span>
                    <span class="post-date">
                        {{ post.date | date: "%b %Y" | downcase }}
                    </span>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>

</div>
