---
layout: base.liquid
---


<div class="home">
    <section class="intro">
        <h2><span class="bold">Oded</span> Falik is a software engineer based in Dallas, <br> focused on the the intersection of the Web, infosec, & AI.</h2>
        <br>
        {% include links %}
    </section>
    
    <section class="posts">
        {% comment %} <h4>what i've been up to</h4>
        <br> {% endcomment %}

        <p>more coming soon...</p>
        {% comment %} <ul>
            {% for post in collections.posts reversed %}
                <li class="post">
                    <span class="post-title">
                        {% if post.data.externalLink %}
                            <a href="{{ post.data.externalLink }}" target="__blank" class="tdu">{{ post.data.title }}</a>
                        {% else %}
                            <a href="{{ post.url }}" class="tdu">{{ post.data.title }}</a>
                        {% endif %}
                    </span>
                    <span class="post-date">
                        {{ post.date | date: "%b %Y" | downcase }}
                    </span>
                </li>
            {% endfor %}
        </ul> {% endcomment %}
    </section>

</div>
