---
layout: base.liquid
---

<article class="post">
  <div class="header">
    <h1 class="herotype">
      {{ title }}

      {% if date %}
        <p class="post-date">{{ date | date: "%b %Y" | downcase }}</p>
      {% endif %}
    </h1>

    <ul class="topics">
      {% for tag in topics %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>

    <ul class="links">
      {% if github %}
        <li class="link"><a href="{{ github }}" target="_blank" class="tdu">View On Github</a></li>
      {% endif %}
    </ul>
    
  </div>

  <div class='content'>{{ content }}</div>


</article>

<a href="/" class="back">← back</a>
